@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

// Base styles
@import "./variables.scss";
@import "./breakpoints.scss";

// Layout Styles
@import "./layouts/home.scss";
@import "./layouts/header.scss";
@import "./layouts/experience.scss";
@import "./layouts/form.scss";
@import "./layouts/sidebar.scss";
@import "./layouts/quote.scss";
@import "./layouts/footer.scss";
@import "./layouts/navbar.scss";


*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
}

body{
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

a{
  text-decoration: none;
  color: $secondary;
}
li{
  list-style: none;
}

.App{
  min-height: 96vh;
}

.container{
  padding: 2rem 15rem;
}

.box{
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.1),
    -2px -2px 2px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    background: linear-gradient(135deg, rgba(0,0,0,0.09), rgba(255,255,255,0.15));
}

h3{
  color: $primary;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.btn{
  background: $primary;
  color: $white;
  border-radius: 3rem;
  border: none;
  padding: 1rem 4rem;
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  outline: none;
  margin: 1rem 2rem;
  cursor: pointer;
  transition: all .15s ease-in;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.25),
    -2px -2px 2px 0 rgba(255, 255, 255, 0.3);
  
  &:hover{
    background-color: $primary_4;
  }
}

.btn-danger{
  background: $secondary;
  color: $white;
  border-radius: 3rem;
  border: none;
  padding: 1rem 4rem;
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  transition: all .15s ease-in;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.25),
    -2px -2px 2px 0 rgba(255, 255, 255, 0.3);
  
  &:hover{
    background-color: $secondary_2;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25),
    -2px -2px 2px 0 rgba(255, 255, 255, 0.3);
  
  }
}


.btn-google{
  background: #EA4235;
  color: $white;
  border-radius: 3rem;
  border: none;
  padding: .7rem 4rem .3rem;
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: uppercase;
  outline: none;
  margin: 1rem 2rem;
  cursor: pointer;
  transition: all .15s ease-in;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.25),
    -2px -2px 2px 0 rgba(255, 255, 255, 0.3);
  
  & img{
    background: $white;
    border-radius: 50%;
    padding: .1rem;
  }

  &:hover{
    background-color: #a70e0e;
  }
}

.layout{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5rem;

  .sidebar{
    min-width: 35%;
  }
  
}

