.sidebar{
  min-height: 30rem;
  padding: 2rem 5rem;
  margin: 0 0 0 10rem;
  max-width: 35%;
}

h5{
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
}

.sidebar__item{
  line-height: 2rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}